In [10]:
for i in range(12):#i => j => k
    print("hi")

hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi

In [11]:
list = [123,123,45,2312]
for i in list:
    print(i)

123
123
45
2312

In [15]:
x = [1,2,3,4,4,2,3,1,1]
count = {}

for n in x:
    if(n == count[])
    count[n] = 
    
for n in x:
    if count[n] == n:
        count[n] = count[n] + 1

print(count)

{1: 0, 2: 0, 3: 0, 4: 0}

In [9]:
x = input("type the sentence : ")
print(x)
for i in range(5):
    print(x)

type the sentence : 01.3232
01.3232
01.3232
01.3232
01.3232
01.3232
01.3232

In [5]:
# List -> 자바에서 동일한 테이터 타입을 담는 자료구조 -> 배열!
# int[] ary = new int[5]; -> 5개의 int타입 데이터를 받는 자료구조
my_list = [1,2,3,4,5]
print(my_list)
# 동일한 데이터 타입이 아니더라도 같은 리스트에 담을 수 있다.
sum = 0 # 누적합
mul = 1 # 누적곱
for element in my_list:
    sum += element
    mul *= element
print(sum)
print(mul)

[1, 2, 3, 4, 5]
15
120

In [9]:
#List는 또 다른 List를 요소를 받을 수 있다.
my_list = [1,2,3,[1,3,2]]
print("List의 길이=",len(my_list))
for element in my_list:
    print(element)

List의 길이= 4
1
2
3
[1, 3, 2]

In [14]:
my_list = [1,2,3,4,5]
x = 7
print(x not in my_list)
if x not in my_list:
    print(x,"은 없습니다")

True
7 은 없습니다